@import url(http://fonts.googleapis.com/css?family=Raleway);
@charset "utf-8";
#content_wrapper table {
	font-family: Raleway;
	text-align: right;
	float: right;
	clear: right;
	margin-top: 25px;
}
#content_wrapper table #button {
	float: right;
	margin-right: 40px;
	font-family: Raleway;
	margin-left: 20px;
}
#content_wrapper table  a {
	text-decoration: none;
}
